{{> header.hbs}}

{{import "systems/{system}" as "system"}}
{{import "games/{system}/{game}" as "game"}}

<main>
  <h2>{{game.title}}</h2>

  <div class="lead">
    <p><strong>{{game.title}}</strong> est un jeu vidéo <a href="/{{system.id}}/">{{system.name}}</a>
      publié par <strong>{{game.editor}}</strong> en <strong>{{game.released}}</strong>.
      {{#if game.players}}
        Il se joue à <em>{{inflect game.players "joueur" "joueurs" true}}</em>.
      {{/if}}
      {{#if game.alternate_titles}}
        Il est également connu sous {{inflect game.alternate_titles.length "le nom" "les noms"}}
        de {{inline game.alternate_titles}}.
      {{/if}}
    </p>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2>Tests et notes du jeu</h2>

      <p class="lead">4,5/5 &mdash; Exceptionnel !</p>

      <p>
        Nous aimons jouer et partager notre goût des jeux vidéo.
      </p>

      <p>
        Les <strong>tests</strong> sont des articles présentant le jeu dans son
        ensemble : histoire, gameplay, musique, points positifs et négatifs.<br>
        Idéal quand on veut vraiment plonger au cœur de <em>{{game.title}}</em>
        avant sa première partie.
      </p>

      <p>
        Les <strong>notes</strong> de <em>{{game.name}}</em> sont des
        évaluation rapides, parfois ponctuées d'un court paragraphe. <br>
        Parfait pour se faire une idée rapidement.
      </p>
    </div>

    <div class="col-lg-3">
      <div class="well">
        <p>15 personnes ont testé ce jeu :</p>

        <ul class="list-unstyled">
          <li><span class="rating">*****</span> <a href="reviews/sylvain.html">Sylvain</a></li>
          <li><span class="rating">*****</span> <a href="reviews/sylvain.html">Ma grand-mère</a></li>
          <li><span class="rating">*****</span> <a href="reviews/sylvain.html">Antekrist</a></li>
          <li><span class="rating">**** </span> <a href="reviews/sylvain.html">Crevette</a></li>
          <li><span class="rating">**** </span> <a href="reviews/sylvain.html">Rouliass</a></li>
          <li><span class="rating">**** </span> <a href="reviews/sylvain.html">Kékidi</a></li>
          <li><span class="rating">**** </span> <a href="reviews/sylvain.html">gigilabaleine</a></li>
          <li><span class="rating">**** </span> <a href="reviews/sylvain.html">Ti Dragon</a></li>
          <li><span class="rating">***  </span> <a href="reviews/sylvain.html">Cyrilette</a></li>
          <li><span class="rating">***  </span> <a href="reviews/sylvain.html">Yahiko</a></li>
          <li><span class="rating">***  </span> <a href="reviews/sylvain.html">Death Adder</a></li>
          <li><span class="rating">***  </span> <a href="reviews/sylvain.html">Spacewolf1</a></li>
          <li><span class="rating">***  </span> <a href="reviews/sylvain.html">eternal-newbie</a></li>
          <li><span class="rating">***  </span> <a href="reviews/sylvain.html">Spoz</a></li>
          <li><span class="rating">*    </span> <a href="reviews/sylvain.html">The Jedi</a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="well">
        <p>362 personnes ont noté ce jeu :</p>

        <ul class="list-unstyled">
          <li><span class="rating">*****</span> 225 personnes</li>
          <li><span class="rating">**** </span> 12 personnes</li>
          <li><span class="rating">***  </span> 25 personnes</li>
          <li><span class="rating">**   </span> 100 personnes</li>
          <li><span class="rating">*    </span> 0 personnes</li>
        </ul>

        <a href="ratings.html">Toutes les notes et commentaires</a>
      </div>
    </div>
  </div>
</main>

{{> footer.hbs}}