{{#import "system" "game"}}
  {{set-title "%s sur %s : tests, critiques et images de %1$s" game.title system.name}}
  {{> header.hbs}}
{{/import}}

<main>
  <h2>{{game.title}}</h2>

  <div class="lead">
    <p><strong>{{game.title}}</strong> est un jeu vidéo <a href="/{{system.id}}/">{{system.name}}</a>
      publié par <strong>{{game.editor}}</strong> en <strong>{{game.released}}</strong>.
      {{#if game.players}}
        Il se joue à <em>{{inflect game.players "joueur" "joueurs" true}}</em>.
      {{/if}}
      {{#if game.alternate_titles}}
        Il est également connu sous {{inflect game.alternate_titles.length "le nom" "les noms"}}
        de {{inline game.alternate_titles}}.
      {{/if}}
    </p>
  </div>

  {{#gt game.images_count 0}}
    <div class="row">
      <div class="col-sm-12">
        <div class="row row-gallery lazyload">
          {{#game_images system game 6}}
            <div class="col-sm-3 col-xs-6 col-lg-2">
              <img class="img-thumbnail" data-src="images/{{image_url this.filename "sq"}}" alt="{{this.title}}"/>
            </div>
          {{/game_images}}
        </div>
      </div>
    </div>
  {{/gt}}

  <div class="row">
    <div class="col-sm-6">
      <h2>Tests et notes du jeu</h2>

      <p class="lead">{{rating game.rating}}</p>

      <p>
        Nous aimons jouer et partager notre goût des jeux vidéo.
      </p>

      <p>
        Les <strong>tests</strong> sont des articles présentant le jeu dans son
        ensemble : histoire, gameplay, musique, points positifs et négatifs.<br>
        Idéal quand on veut vraiment plonger au cœur de <em>{{game.title}}</em>
        avant sa première partie.
      </p>

      <p>
        Les <strong>notes</strong> de <em>{{game.name}}</em> sont des
        évaluation rapides, parfois ponctuées d'un court paragraphe. <br>
        Parfait pour se faire une idée rapidement.
      </p>

      <p class="btn-toolbar">
        <a class="btn btn-primary" href="/{{system.id}}/">{{system.name}}</a>
        <a class="btn btn-default" href="/{{system.id}}/games/">Jeux</a>
        <a class="btn btn-default" href="/{{system.id}}/images/">Images</a>
      </p>
    </div>

    <div class="col-sm-3">
      <div class="well">
        <h2>Ils l'ont testé</h2>

        <ul class="list-unstyled">
        {{#game_reviews system game}}
          <li>{{{stars rating}}} <a href="reviews/{{slug}}.html">{{user}}</a></li>
        {{/game_reviews}}
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="well">
        <h2>Ils l'ont noté</h2>

        <ul class="list-unstyled">
        {{#game_breakdown game}}
          <li class="{{#unless count}}fade-out{{/unless}}">{{{stars rating}}} {{count}} {{inflect count "joueur" "joueurs"}}</li>
        {{/game_breakdown}}
        </ul>

        <a href="ratings.html">
          <span class="lead">{{game.comments_count}}</span>
          {{inflect game.comments_count "note et commentaire" "notes et commentaires"}}
        </a>
      </div>
    </div>
  </div>
</main>

{{> footer.hbs}}