{{#import "system" "game"}}
  {{set-title "%s — jeu vidéo %s" game.title system.name}}
  {{set-megamenu "game"}}
  {{> header}}
{{/import}}

<main>
  <div class="row">
    <div class="col-sm-6" id="reviews">
      {{#game_reviews system game}}
        <article>
          <h2>Ce qu'en pense <strong>{{this.user}}</strong></h2>

          <p class="lead">{{rating this.rating}}</p>

          <p>{{truncate this.review 250 "…"}}</p>

          <p><a class="btn btn-default" href="reviews/{{this.slug}}.html">
            Lire la suite du test<span class="sr-only"> de {{../game.title}} par {{this.user}}</span>
          </a></p>
        </article>
      {{/game_reviews}}
    </div>

    <div class="col-sm-4 col-sm-push-2">
      <div class="well">
        <h2>Synthèse</h2>

        <p class="lead">{{rating game.rating}}</p>

        <ul class="list-unstyled">
        {{#game_breakdown game}}
          <li class="{{#unless this.count}}fade-out{{/unless}}">{{{stars this.rating}}} {{this.count}} {{inflect this.count "joueur" "joueurs"}}</li>
        {{/game_breakdown}}
        </ul>

        <a href="ratings.html" class="btn btn-primary">
          Lire les {{game.comments_count}} avis
        </a>
      </div>
    </div>
  </div>
</main>

{{> footer}}
