{{#import "system" "game"}}
  {{set-title "Notes et commentaires de %s sur %s : que pensent les joueurs de %1$s" game.title system.name}}
  {{> header.hbs}}
{{/import}}

<main>
  <h2>Notes et commentaires de {{game.title}}</h2>

  <div class="row">
    <div class="col-sm-9">
      {{#game_ratings system game true}}
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <p class="lead">{{rating rating}}</p>
            <p>Par <em>{{user}}</em></p>
          </div>
        </div>

        <div class="col-sm-6">
          {{#if is_review}}
            <p>{{truncate review 250 "…"}}</p>

            <p><a class="btn btn-default" href="reviews/{{slug}}.html">
              Lire la suite du test de {{../../game.title}} par {{user}}
            </a></p>
          {{else}}
            {{#if title}}
              <h2>{{title}}</h2>
            {{/if}}

            {{#markdown}} {{review}} {{/markdown}}
          {{/if}}
        </div>
      </div>
      {{else}}
        <div class="alert alert-info">
          Il n'y pas encore de notation pour {{game.title}}.
        </div>
      {{/game_ratings}}
    </div>

    <div class="col-sm-3">
      <div class="well">
        <h2>Synthèse</h2>

        <ul class="list-unstyled">
            {{#game_breakdown game}}
              <li class="{{#unless count}}fade-out{{/unless}}">{{{stars rating}}} {{count}} {{inflect count "joueur" "joueurs"}}</li>
            {{/game_breakdown}}
        </ul>
      </div>
    </div>
  </div>
</main>

{{> footer.hbs}}