{{#import "system" "game"}}
  {{set-title "Avis de joueurs à propos de %1$s" game.title system.name}}
  {{set-megamenu "game"}}
  {{> header}}
{{/import}}

<main>
  <h2>Avis de joueurs</h2>

  <div class="row">
    <div class="col-sm-8">
      {{#game_ratings system game true}}
      <article>
        <h3><strong>{{user}}</strong> dit <q>{{rating rating}}</q></h3>

        {{#if is_review}}
          <p>{{truncate review 250 "…"}}</p>

          <p><a class="btn btn-default" href="reviews/{{slug}}.html">
            Lire la suite du test<span class="sr-only"> de {{../../game.title}} par {{user}}</span>
          </a></p>
        {{else}}
          {{#if title}}
            <h2>{{title}}</h2>
          {{/if}}

          {{#markdown}} {{review}} {{/markdown}}
        {{/if}}
      </article>
      {{else}}
        <div class="alert alert-info">
          Il n'y pas encore de notation pour {{game.title}}.
        </div>
      {{/game_ratings}}
    </div>

    <div class="col-sm-4">
      <div class="well">
        <h2>Synthèse</h2>

        <ul class="list-unstyled">
            {{#game_breakdown game}}
              <li class="{{#unless this.count}}fade-out{{/unless}}">{{{stars this.rating}}} {{this.count}} {{inflect this.count "joueur" "joueurs"}}</li>
            {{/game_breakdown}}
        </ul>
      </div>
    </div>
  </div>
</main>

{{> footer}}
