{{#import "system" "game"}}
  {{set-title "Test du jeu vidéo %s sur %s" game.title system.name}}
  {{> header.hbs}}
{{/import}}

<main>
  <h2>{{game.title}}</h2>

  <div class="lead">
    <p><strong>{{game.title}}</strong> est un jeu vidéo <a href="/{{system.id}}/">{{system.name}}</a>
      publié par <strong>{{game.editor}}</strong> en <strong>{{game.released}}</strong>.
    </p>
  </div>

  <div class="row">
    <div class="col-sm-9">
      {{#if page.title}} <h2>{{page.title}}</h2> {{/if}}
      {{#markdown}} {{> body}} {{/markdown}}

      {{#gte page.rating 0}}
        <p class="lead">
          <strong>Note finale</strong>: {{rating page.rating}}
        </p>
      {{/gte}}

      <p class="btn-toolbar">
        <a class="btn btn-primary" href="../">{{game.title}}</a>
        <a class="btn btn-default" href="../#reviews">Tests</a>
        <a class="btn btn-default" href="../ratings.html">Notes</a>
      </p>

      <p class="btn-toolbar">
        <a class="btn btn-primary" href="/{{system.id}}/">{{system.name}}</a>
        <a class="btn btn-default" href="/{{system.id}}/games/">Jeux</a>
        <a class="btn btn-default" href="/{{system.id}}/images/">Images</a>
      </p>
    </div>

    <div class="col-sm-3">
      {{#if page.[Synthèse]}}
      <div class="well">
        <h2>En 2 clics</h2>

        <ul class="list-unstyled">
        {{#each page.[Synthèse]}}
          <li><strong>{{@key}}</strong>&nbsp;:&nbsp;{{default this "N/C"}}</li>
        {{/each}}
        </ul>
      </div>
      {{/if}}

      <div class="well">
        <h2>Ils l'ont testé</h2>

        <ul class="list-unstyled">
          {{#game_reviews system game}}
            <li>{{{stars rating}}} <a href="{{slug}}.html">{{user}}</a></li>
          {{/game_reviews}}
        </ul>
      </div>

      {{#gt game.images_count 0}}
        <div class="row row-gallery lazyload">
          {{#game_images system game 6}}
          <div class="col-sm-12 col-xs-4">
            <img class="img-thumbnail" data-src="../images/{{image_url this.filename "md"}}" alt="{{this.title}}"/>
          </div>
          {{/game_images}}
        </div>
      {{/gt}}
    </div>
  </div>
</main>

{{> footer.hbs}}