{{#import "system" "game"}}
  {{set-title "Test du jeu vidéo %s sur %s" game.title system.name}}
  {{set-megamenu "game"}}
  {{> header}}
{{/import}}

<main>
  <h1>{{default page.title "Test du jeu vidéo"}}</h1>

  <div class="row">
    <div class="col-sm-8">
      {{#markdown}} {{> body}} {{/markdown}}

      {{#gte page.rating 0}}
        <p class="lead">
          <strong>Note finale</strong>: {{rating page.rating}}
        </p>
      {{/gte}}
    </div>

    <div class="col-sm-4">
      {{#if page.[Synthèse]}}
      <div class="well">
        <h2>En 2 clics</h2>

        <ul class="list-unstyled">
        {{#each page.[Synthèse]}}
          <li><strong>{{@key}}</strong>&nbsp;:&nbsp;{{default this "N/C"}}</li>
        {{/each}}
        </ul>
      </div>
      {{/if}}

      <div class="well">
        <h2>Synthèse</h2>

        <p class="lead">{{rating game.rating}}</p>

        <ul class="list-unstyled">
            {{#game_breakdown game}}
              <li class="{{#unless this.count}}fade-out{{/unless}}">{{{stars this.rating}}} {{this.count}} {{inflect this.count "joueur" "joueurs"}}</li>
            {{/game_breakdown}}
        </ul>

        <a href="../ratings.html">
          <span class="lead">{{game.comments_count}}</span>
            {{inflect game.comments_count "note et commentaire" "notes et commentaires"}}
        </a>
      </div>

      {{#gt game.images_count 0}}
        <div class="row row-gallery lazyload">
          {{#game_images system game 1}}
            <div class="col-sm-12">
              <img class="img-thumbnail img-elastic" src="../images/{{this.filename}}" alt="{{this.title}}"/>
            </div>
          {{/game_images}}
        </div>
      {{/gt}}
    </div>
  </div>
</main>

{{> footer}}
