{{#import "system"}}
  {{set-title "Jeux vidéo %s : les meilleurs et plus mauvais jeux %1$s" system.name}}
  {{> header.hbs}}
{{/import}}

<main>
  <h2>Jeux vidéo {{system.name}}</h2>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sortable">
      <thead>
        <tr>
          <th>Santé</th>
          <th>Titre</th>
          <th>Genres</th>
          <th>Année</th>
        </tr>
      </thead>
      <tbody>
      {{#system_games system}}
        <tr>
          <td data-value="{{this.rating}}">{{{stars rating}}}</td>
          <th><a href="./{{slug}}/">{{title}}</a></th>
          <td>{{inline genres}}</td>
          <td>{{released}}</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="3">Aucun jeu pour le moment.</td>
        </tr>
      {{/system_games}}
      </tbody>
    </table>
  </div>
</main>

{{> footer.hbs}}