{{#import "system"}}
    {{> header.hbs}}
{{/import}}

<main>
  <h2>{{system.name}}</h2>

  <div class="lead">
    <p><strong>{{system.name}}</strong> est un système conçu par <strong>{{system.manufacturer}}</strong>.
      {{#if system.alternate_names}}
        Il est aussi connu sous les noms {{inline system.alternate_names}}.
      {{/if}}
    </p>
  </div>

  <h1>Galerie d'images {{system.name}}</h1>

  <div class="row row-gallery lazyload">
    {{#system_images system true}}
      <div class="col-sm-4 col-md-3" id="{{id}}">
        <img class="img-thumbnail" src="/assets/blank.gif" data-src="{{image_url this.filename "md"}}" alt="{{title}}"/>

        <h2>{{title}}</h2>

        <p>{{#markdown}} {{description}} {{/markdown}}</p>
      </div>

      {{#clearfix index 4}} <div class="clearfix visible-md"></div> {{/clearfix}}
      {{#clearfix index 3}} <div class="clearfix visible-sm"></div> {{/clearfix}}
    {{/system_images}}
  </div>

  <p>
    <a class="btn btn-primary" href="/{{system.id}}/">{{system.name}}</a>
    <a class="btn btn-default" href="/{{system.id}}/games/">Jeux</a>
    <a class="btn btn-default disabled" href="/{{system.id}}/images/">Images</a>
  </p>
</main>

{{> footer.hbs}}