{{#import "system"}}
  {{set-title "Images %s : découvrir les boites, accessoires et extensions %1$s" system.name}}
  {{set-megamenu "system"}}
  {{> header}}
{{/import}}

<main>
  <h1>Galerie d'images {{system.name}}</h1>

  <div class="row row-gallery lazyload">
    {{#system_images system true}}
      <div class="col-sm-4 col-md-3" id="{{this.id}}">
        <img class="img-thumbnail" src="/assets/blank.gif" data-src="{{image_url this.filename "md"}}" alt="{{this.title}}"/>

        <h2>{{this.title}}</h2>

        <p>{{#markdown}} {{this.description}} {{/markdown}}</p>
      </div>

      {{#clearfix index 3}} <div class="clearfix visible-sm"></div> {{/clearfix}}
      {{#clearfix index 4}} <div class="clearfix visible-md visible-lg"></div> {{/clearfix}}
    {{/system_images}}
  </div>
</main>

{{> footer}}
