{{> header.hbs}}
{{import "systems/{system}" as "system"}}

<main>
    <h2>{{system.name}}</h2>

    <div class="lead">
      <p><strong>{{system.name}}</strong> est un système conçu par <strong>{{system.manufacturer}}</strong>.
        {{#if system.alternate_names}}
          Il est également connu sous {{inflect system.alternate_names "le nom" "les noms"}}
          de {{inline system.alternate_names}}.
        {{/if}}
      </p>

      {{#file_exists "history.md"}}
        <p><a href="history.html">En savoir plus sur {{system.name}}</a>.</p>
      {{/file_exists}}
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h2>Jeux vidéo <strong>{{system.name}}</strong></h2>

        <p class="lead">Pas facile de savoir à quel jeu jouer.</p>

        <p>
          <strong>En {{default system.released "1970"}}</strong>, on n'était pas tous né, on ne parlait pas Japonais,
          ou on ne pouvait choisir qu'un seul jeu vidéo par année !
        </p>

        <p>
          <strong>Nous sommes de joueurs passionnés</strong>.
          Nous avons juste eu envie de partager nos avis sur nos jeux vidéos {{system.name}}, ceux qu'on a adoré,
          ceux qu'on a détesté ou ces pépites que l'on voudrait faire connaitre.
        </p>

        <p><a class="btn btn-primary" href="/games/{{system.id}}/">Notre sélection de jeux vidéo {{system.name}}</a></p>
      </div>

      <div class="col-sm-4">
        <div class="well">
            <h3>Top 7</h3>

            <ul class="list-unstyled">
            {{#updated_games system 7}}
              <li>{{stars "4.5"}} <a href="/games/{{../system.id}}/{{slug}}/">{{title}}</a></li>
            {{else}}
              <li>Aucun jeu pour le moment.</li>
            {{/updated_games}}
            </ul>
        </div>
      </div>

      <div class="col-sm-2">
        <ul class="list-unstyled">
          <li>
            <a href="/games/{{system.id}}" rel="bookmark">
              <span class="lead">{{system.games_count}}</span> {{inflect system.games_count "jeu" "jeux"}}
            </a>
          </li>
          <li>
            <span class="lead">{{system.reviews_count}}</span> {{inflect system.reviews_count "test" "tests"}}
          </li>
          <li>
            <span class="lead">{{system.comments_count}}</span> {{inflect system.comments_count "note" "notes"}}
          </li>
        </ul>
      </div>
    </div>
</main>

{{> footer.hbs}}