<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'unsafe-inline' 'self'; font-src 'self' data:; img-src 'self' data:; frame-src https://bufferapp.com; connect-src http://www.emu-france.com http://app.emunova.net http://c5su6didx6-dsn.algolia.net https://c5su6didx6-dsn.algolia.net 'self'; script-src 'unsafe-eval' 'self'; object-src 'none'">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{{default title "Emu Nova : encyclopédie et tests de jeux vidéo, émulation et retrogaming"}}</title>
  <link rel="stylesheet" href="{{assets}}/css/fonts.css">
  <link rel="stylesheet" href="{{assets}}/css/core.css">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsable-navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-dot-3"></span>
       </button>
       <a class="navbar-brand" href="/" rel="home">Emu Nova</a>
     </div>

     <div class="collapse navbar-collapse" id="collapsable-navbar">
       <ul class="nav navbar-nav navbar-right">
         <li><a href="http://forums.emunova.net">Forums</a></li>
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contribuer <span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
             {{#link-edit page.src}}
             <li role="presentation"><a role="menuitem" href="{{.}}">Modifier/corriger cette page</a></li>
             {{else}}
             <li class="disabled"><a role="menuitem" href="{{.}}">Modifier/corriger cette page</a></li>
             {{/link-edit}}
           </ul>
         </li>
         <li class="dropdown">
           <a href="/about/" class="dropdown-toggle" data-toggle="dropdown">À propos <span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
             <li role="presentation"><a role="menuitem" href="/about/">À propos</a></li>
             <li role="presentation"><a role="menuitem" href="/about/team.html">Équipe</a></li>
             <li role="presentation"><a role="menuitem" href="/about/changelog.html">Changelog</a></li>
             <li class="dropdown-header" role="presentation">&copy; 2002 - {{now "%Y"}}, Emu Nova</li>
           </ul>
         </li>
       </ul>

       <form class="navbar-form navbar-right">
	 <div class="form-group">
	   <input type="search" class="form-control" placeholder="Rechercher un jeu" autocomplete="off" id="topbar-search-input">
	 </div>
       </form>
     </div>
  </div>
</nav>

{{#or system game}}
<div class="container">
  <nav class="navbar navbar-breadcrumb navbar-static-top" id="nav">
    <ol class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <li><a href="/" rel="home"><span class="icon-home"></span></a></li>
      {{#if system}}<li><a href="/{{system.id}}/" itemprop="url"><span itemprop="title">{{system.name}}</span></a></li>{{/if}}
      {{#if game}}<li><a href="/{{system.id}}/games/{{game.id}}/" itemprop="url"><span itemprop="title">{{game.title}}</span></a></li>{{/if}}
    </ol>
  </nav>
</div>
{{/or}}

<div class="panel-group panel-group-static-top panel-group-collapsible" id="search-results-wrapper">
  <div class="panel panel-default">
    <div class="panel-collapse collapse">
      <div class="panel-body container"></div>
    </div>
  </div>
</div>

<div class="container">
  {{#if game}}
    {{> megamenu-game}}
  {{else}}
    {{#if system}}
      {{> megamenu-system}}
    {{/if}}
  {{/if}}
