<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{{default title "Jeux vidéo anciens, émulation et retrogaming"}} &mdash; Emu Nova v3</title>
  <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{assets}}/css/proto.css">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>

<nav class="navbar navbar-main">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><h1>Emu Nova <small>v3</small></h1></a>
    </div>

    <ul class="nav navbar-nav" id="nav">
      {{#if system}}<li class="dropdown">
        <a href="/{{system.id}}/" class="accordion-toggle {{#unless megamenu_system}}collapsed{{/unless}}" data-target="system">{{system.name}}
          <b class="caret"></b>
        </a></li>{{/if}}
      {{#if game}}<li class="dropdown">
        <a href="/{{system.id}}/games/{{game.id}}/" class="accordion-toggle {{#unless megamenu_game}}collapsed{{/unless}}" data-target="game">{{game.title}}
          <b class="caret"></b>
        </a></li>{{/if}}
    </ul>
  </div>
</nav>

<div class="container">
  {{#if system}} {{> megamenu-system.hbs}} {{/if}}
