<div id="megamenu-game" class="well megamenu">
    <div class="row" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <p class="lead"><strong itemprop="itemreviewed">{{game.title}}</strong> est un jeu vidéo <a href="/{{system.id}}/">{{system.name}}</a>
              publié par <strong>{{game.editor}}</strong> en {{game.released}}.
                {{#if game.players}}
                  Il se joue à <em>{{inflect game.players "joueur" "joueurs" true}}</em>.
                {{/if}}
                {{#if game.alternate_titles}}
                  Il est également connu sous {{inflect game.alternate_titles.length "le nom" "les noms"}}
                  de {{inline game.alternate_titles}}.
                {{/if}}
            </p>
          </div>

          <div class="col-sm-3 col-xs-12">
            <ul class="list-unstyled">
              <li><span class="year">{{game.released}}</span></li>
                {{#each game.genres}}
                  <li>{{.}}</li>
                {{/each}}
            </ul>
          </div>

          <div class="col-sm-4 col-xs-12">
            <ul class="list-inline">
              <li>
                <a href="/{{system.id}}/games/{{game.id}}/#reviews" class="btn btn-primary btn-lg">
                    {{game.reviews_count}}<br>{{inflect game.reviews_count "test" "tests"}}
                </a>
              </li>
              <li itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating">
                <a href="/{{system.id}}/games/{{game.id}}/ratings.html" class="btn btn-primary btn-lg" itemprop="rating" content="{{game.rating}}">
                  <span itemprop="votes">{{game.comments_count}}</span><br>{{inflect game.comments_count "notes" "notes"}}
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-sm-3">
        {{#gt game.images_count 0}}
            {{#game_images system game 6}}
              <img class="img-thumbnail img-elastic" src="/{{../system.id}}/games/{{../game.id}}/images/{{this.filename}}" itemprop="photo" alt="{{this.title}}"/>
            {{/game_images}}
        {{/gt}}
      </div>
    </div>
</div>