<div id="megamenu-system" class="well well-sm megamenu collapse {{#if megamenu_system}}in{{/if}}">
  <div class="lead">
      {{#if system.description}}
        {{#markdown}}{{system.description}}{{/markdown}}
      {{else}}
      <p>
        <strong>{{system.name}}</strong> est un système conçu par <strong>{{system.manufacturer}}</strong>.
        {{#if system.alternate_names}}
          Il est également connu sous {{inflect system.alternate_names "le nom" "les noms"}}
          de {{inline system.alternate_names}}.
        {{/if}}
      </p>
      {{/if}}


    <div class="row">
      <div class="col-lg-2 col-sm-3 col-xs-6">
        <ul class="list-unstyled">
          <li><strong>{{system.released}}</strong></li>
          <li>{{system.type}}</li>
        </ul>
      </div>

      <div class="col-lg-2 col-sm-4 col-xs-6">
        <ul class="list-unstyled">
          <li><a href="/{{system.id}}/games/">
            <strong>{{system.games_count}}</strong> {{inflect system.games_count "jeu" "jeux"}}
          </a></li>
          {{#if system.images_count}}<li><a href="/{{system.id}}/images/">
            <strong>{{system.images_count}}</strong> {{inflect system.images_count "image" "images"}}
          </a></li>{{/if}}
        </ul>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-6">
        <ul class="list-unstyled">
          {{#file_exists "history.md"}}<li><a href="/{{system.id}}/history.html">
            <strong>Histoire</strong><br><small>Conception, vie et anecdotes</small>
          </a></li>{{/file_exists}}
          <li><a href="{{system.forums_uri}}">
            <strong>Forums</strong><br><small>Émulation, discussion, aide</small>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>