<div class="well well-sm megamenu megamenu-game collapse {{#if megamenu_game}}in{{/if}}">
  <h1>{{game.title}}</h1>

    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <p class="lead"><strong>{{game.title}}</strong> est un jeu vidéo <a href="/{{system.id}}/">{{system.name}}</a>
              publié par <strong>{{game.editor}}</strong> en <strong>{{game.released}}</strong>.
                {{#if game.players}}
                  Il se joue à <em>{{inflect game.players "joueur" "joueurs" true}}</em>.
                {{/if}}
                {{#if game.alternate_titles}}
                  Il est également connu sous {{inflect game.alternate_titles.length "le nom" "les noms"}}
                  de {{inline game.alternate_titles}}.
                {{/if}}
            </p>
          </div>

          <div class="col-sm-2 col-xs-4">
            <ul class="list-unstyled">
              <li><strong>{{game.released}}</strong></li>
                {{#each game.genres}}
                  <li>{{.}}</li>
                {{/each}}
            </ul>
          </div>

          <div class="col-sm-1 col-xs-3">
            <a href="/{{system.id}}/games/{{game.id}}/#reviews">
              <span class="lead">{{game.reviews_count}}</span><br>{{inflect game.reviews_count "test" "tests"}}
            </a>
          </div>

          <div class="col-sm-2 col-xs-5">
            <a href="/{{system.id}}/games/{{game.id}}/ratings.html">
              <span class="lead">{{game.comments_count}}</span><br>{{inflect game.comments_count "note et commentaire" "notes et commentaires"}}
            </a>
          </div>
        </div>

      </div>

      <div class="col-sm-3">
        {{#gt game.images_count 0}}
            {{#game_images system game 6}}
              <img class="img-thumbnail" src="/{{../system.id}}/games/{{../game.id}}/images/{{this.filename}}" alt="{{this.title}}"/>
            {{/game_images}}
        {{/gt}}
      </div>
    </div>
</div>