<div id="megamenu-system" class="well megamenu collapse {{#if megamenu_system}}in{{/if}}">
  <div class="lead">
      {{#if system.description}}
        {{#markdown}}{{system.description}}{{/markdown}}
      {{else}}
      <p>
        <strong>{{system.name}}</strong> est un système de jeux vidéo conçu par <strong>{{system.manufacturer}}</strong>.
        {{#if system.alternate_names}}
          Il est également connu sous {{inflect system.alternate_names "le nom" "les noms"}}
          de {{inline system.alternate_names}}.
        {{/if}}
      </p>
      {{/if}}


    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <ul class="list-unstyled">
          <li><span class="year">{{system.released}}</span></li>
          <li>{{system.type}}</li>
        </ul>
      </div>

      <div class="col-sm-4 col-xs-12">
        <ul class="list-inline">
          <li><a href="/{{system.id}}/games/" class="btn btn-lg btn-primary">
            {{system.games_count}}<br>{{inflect system.games_count "jeu" "jeux"}}
          </a></li>
          {{#if system.images_count}}<li><a href="/{{system.id}}/images/" class="btn btn-lg btn-primary">
            {{system.images_count}}<br>{{inflect system.images_count "image" "images"}}
          </a></li>{{/if}}
        </ul>
      </div>

      <div class="col-lg-4 col-sm-5 col-xs-12">
        <ul class="list-unstyled">
          {{#file_exists "history.md"}}<li><a href="/{{system.id}}/history.html">Histoire</a>
            <br><small>Conception, vie et anecdotes</small>
          </li>{{/file_exists}}
          <li><a href="{{system.forums_uri}}">Forums</a>
            <br><small>Émulation, discussion, aide</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>