{{> header.hbs}}

<main>
  <form class="form-inline text-center" role="form" data-target="systems">
    <div class="form-group">
      <span class="form-control-static">Je cherche un jeu jouable sur</span>
    </div>
    <div class="form-group">
      <select class="form-control">
        <option value="">tout support</option>
        <optgroup label="Type de support">
          <option value="type">arcade</option>
          <option value="type">console</option>
          <option value="type">console portable</option>
          <option value="type">console virtuelle</option>
          <option value="type">ordinateur</option>
        </optgroup>
        <optgroup label="Constructeur">
          {{#manufacturers}}
            <option value="manufacturer">{{.}}</option>
          {{/manufacturers}}
        </optgroup>
      </select>
    </div>
    <div class="form-group">
      <select name="year-operator" class="form-control">
        <option value="">sorti à tout moment</option>
        <option value="<">sorti avant</option>
        <option value="=">sorti en</option>
        <option value=">">sorti après</option>
      </select>
    </div>
    <div class="form-group">
      <input type="number" name="year" data-visible-if="year-operator" class="form-control hidden" placeholder="1337" min="1970" max="2013">
    </div>

    <div class="form-group btn-group">
    <div class="form-group form-group-unifield">
      <div class="form-group">
        <label class="control-label" for="support-selector">Je cherche un jeu jouable sur</label>
        <select id="support-selector">
          <option value="">tout support</option>
          <optgroup label="Type de support">
            <option value="type">arcade</option>
            <option value="type">console</option>
            <option value="type">console portable</option>
            <option value="type">console virtuelle</option>
            <option value="type">ordinateur</option>
          </optgroup>
          <optgroup label="Constructeur">
            {{#manufacturers}}
              <option value="manufacturer">{{.}}</option>
            {{/manufacturers}}
          </optgroup>
        </select>
      </div>
      <div class="form-group">
        <select name="year-operator" class="form-control">
          <option value="">sorti à tout moment</option>
          <option value="<">sorti avant</option>
          <option value="=">sorti en</option>
          <option value=">">sorti après</option>
        </select>
      </div>
      <div class="form-group">
        <input type="number" name="year" data-visible-if="year-operator" class="form-control hidden" placeholder="1337" min="1970" max="2013">
      </div>
    </div><div class="form-group btn-group">
      <button class="btn btn-primary" type="button">Actualiser</button>
      <button class="btn btn-default" type="reset">Recommencer</button>
    </div>
  </form>

  <div class="row" data-sorter="systems">
    {{#each_with_index systems}}
      <div class="col-sm-4 col-md-3 col-xs-6" data-year="{{released}}" data-type="{{type}}" data-manufacturer="{{manufacturer}}">
        <h2><a href="{{id}}" rel="bookmark">{{name}}</a></h2>

        <div class="row">
          <div class="col-sm-6 col-xs-6 lead">
            <span>{{manufacturer}}</span>
          </div>
          <div class="col-sm-3 col-md-4 col-xs-6 text-right lead">
            <strong>{{released}}</strong>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <a href="/{{id}}/games/" rel="bookmark">
              <span class="lead">{{games_count}}</span><br>{{inflect games_count "jeu" "jeux"}}
            </a>
          </div>
          <div class="col-sm-3 col-xs-3">
            <a rel="bookmark" href="/{{id}}/images/">
              <span class="lead">{{images_count}}</span><br>{{inflect images_count "image" "images"}}
            </a>
          </div>
        </div>
      </div>

      {{#clearfix index 4}} <div class="clearfix visible-md visible-lg"></div> {{/clearfix}}
      {{#clearfix index 3}} <div class="clearfix visible-sm"></div> {{/clearfix}}
      {{#clearfix index 2}} <div class="clearfix visible-xs"></div> {{/clearfix}}
    {{/each_with_index}}
  </div>
</main>

{{> footer.hbs}}
