{{> header}}

<main>
  <section class="row rss-content" data-source="https://forums.emunova.net/forum/87-news.xml/" role="complementary">
    <div class="col-md-3">
      <h1>Actualités</h1>

      <p>
        <small>Contenu fourni par <a href="http://emu-france.com/">Emu-France</a>.</small><br>
        <small>Alors on leur dit <em>merci</em> :-)</small>
      </p>
    </div>

    <div class="col-md-4">
      <dl class="dl-horizontal dl-compact" data-item-limit="5">
        <dt>▓▓▓▓▓</dt>
        <dd>▒▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
        <dt>▓▓▓▓▓</dt>
        <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
        <dt>▓▓▓▓▓</dt>
        <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
        <dt>▓▓▓▓▓</dt>
        <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
        <dt>▓▓▓▓▓</dt>
        <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒</dd>
      </dl>
    </div>
    <div class="col-md-4">
      <dl class="dl-horizontal dl-compact" data-item-limit="5">
        <dt>▓▓▓▓▓</dt>
        <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
        <dt>▓▓▓▓▓</dt>
        <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒</dd>
        <dt>▓▓▓▓▓</dt>
        <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒</dd>
        <dt>▓▓▓▓▓</dt>
        <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒▒</dd>
        <dt>▓▓▓▓▓</dt>
        <dd>▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒▒ ▒▒▒▒▒</dd>
      </dl>
      </dl>
    </div>

    <div class="progress progress-striped active col-md-6 col-md-offset-3">
      <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
        <strong>☁</strong> Chargement en cours …
      </div>
    </div>
  </section>


  <form class="form-inline text-center" role="form" data-target="systems">
    <div class="form-group form-group-unifield">
      <div class="form-group">
        <label class="control-label" for="support-selector">Je cherche un</label>
      </div>
      <div class="form-group">
        <label class="control-label" for="support-selector">système de jeux vidéo</label>
        <select id="support-selector">
          <option value="" selected>système de jeux vidéo</option>
          <optgroup label="Type de support">
            <option value="type">arcade</option>
            <option value="type">console</option>
            <option value="type">console portable</option>
            <option value="type">console virtuelle</option>
            <option value="type">ordinateur</option>
          </optgroup>
          <optgroup label="Constructeur">
            {{#manufacturers}}
              <option value="manufacturer">{{.}}</option>
            {{/manufacturers}}
          </optgroup>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="year-operator">sorti à tout moment</label>
        <select name="year-operator" id="year-operator" class="form-control">
          <option value="" selected>sorti à tout moment</option>
          <option value="<">sorti avant</option>
          <option value="=">sorti en</option>
          <option value=">">sorti après</option>
        </select>
      </div>
      <div class="form-group">
        <input type="number" name="year" data-visible-if="year-operator" class="form-control hidden" placeholder="1337" min="1970" max="2013">
      </div>
    </div><div class="form-group btn-group">
    <button class="btn btn-primary" type="button">Actualiser</button>
    <button class="btn btn-default" type="reset">Recommencer</button>
  </div>
  </form>

  <div class="row" data-sorter="systems">
    {{#systems}}
      <div class="col-sm-4 col-md-3 col-xs-6" data-year="{{this.released}}" data-type="{{this.type}}" data-manufacturer="{{this.manufacturer}}">
        <h2><a href="{{this.id}}" rel="bookmark">{{this.name}}</a></h2>

        <div class="row">
          <div class="col-sm-6 col-xs-6 lead">
            <span>{{this.manufacturer}}</span>
          </div>
          <div class="col-sm-3 col-md-4 col-xs-6 text-right lead">
            <strong>{{this.released}}</strong>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <a href="/{{this.id}}/games/" rel="bookmark">
              <span class="lead">{{this.games_count}}</span><br>{{inflect this.games_count "jeu" "jeux"}}
            </a>
          </div>
          {{#if this.images_count}}<div class="col-sm-3 col-xs-3">
            <a rel="bookmark" href="/{{this.id}}/images/">
              <span class="lead">{{images_count}}</span><br>{{inflect this.images_count "image" "images"}}
            </a>
          </div>{{/if}}
        </div>
      </div>

      {{#clearfix this.index 4}} <div class="clearfix visible-md visible-lg"></div> {{/clearfix}}
      {{#clearfix this.index 3}} <div class="clearfix visible-sm"></div> {{/clearfix}}
      {{#clearfix this.index 2}} <div class="clearfix visible-xs"></div> {{/clearfix}}
    {{/systems}}
  </div>
</main>

{{> footer}}
